<!DOCTYPE html>
<div>
    <h1>Bienvenido a la compra de entradas</h1>
    <div style="float:right">
        <form action="index.php">
            <input type="text" pattern="[0-9]*" name="DNI" placeholder="Introduzca su DNI"/>
            <button type="submit" value="validar" title="Validar DNI">Ver mis compras</button></br>
        </form>
        <form action="index.php">
            <button type="submit" name="action" value="inicio" title="Ir a inicio">Ir a inicio</button>
        </form>
    </div>
</div>

